langchain_google_genai
langchain
langchain_core
python-dotenv
datasets
typing_extensions
IPython
ragas
langgraph
tiktoken
PyPDF2
pylcs
pandas
langchain_groq
langchain_mongodb
markdown
bs4
vertexai
sentencepiece
langchain_experimental
langchain_openai
google-generativeai
pymongo